*{
  box-sizing: border-box;
}
div {
  width: 600px;
  padding: 20px;
  margin: 20px auto;
  background-color: #eee;
  text-align: center;
  font-size: 90px;
  font-weight: bold;
  letter-spacing: 5px;
  border-right: 8px solid blueviolet;
  border-left: 8px solid #f44336;
  position: relative;
}
div::first-letter {
  color: #f44336;
}
div:before {
  content: "";
  position: absolute;
  width: 102.7%;
  height: 8px;
  left: -8px;
  top: -5px;
  background-color: red;
  background-image: linear-gradient(
    to right,
    #f44336 20%,
    #48a8f5 20%,
    #48a8f5 40%,
    #4caf50 40%,
    #4caf50 60%,
    #ff1493 60%,
    #ff1493 80%,
    blueviolet 80%
  );
}

div::after {
  content: "";
  position: absolute;
  width: 102.7%;
  height: 8px;
  left: -8px;
  bottom: -5px;
  background-color: red;
  background-image: linear-gradient(
    to right,
    #f44336 20%,
    #48a8f5 20%,
    #48a8f5 40%,
    #4caf50 40%,
    #4caf50 60%,
    #ff1493 60%,
    #ff1493 80%,
    blueviolet 80%
  );
}
