.parent {
  width: 340px;
  border: 1px solid rgb(201, 186, 186);
  font-family: Arial, Helvetica, sans-serif;
}
div {
  height: 60px;
  width: 300px;
  text-align: center;
  margin: 20px;
}
.one,
.three {
  background-color: #eee;
}
.two {
  background-color: red;
}
div::before {
  content: "";
  width: 300px;
  height: 20px;
  top: 50%;
  float: left;
}
