p {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eee;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  padding: 15px;
  counter-increment: members-counter;
}
p::before {
  content: counter(members-counter);
  position: absolute;
  color: white;
  background-color: red;
  left: -30px;
  padding: 15px;
  margin-top: -15px;
  width: 10px;
  font-weight: bold;
}

p::after {
  content: "";
  position: absolute;
  border-width: 2px;
  border-style: solid;
  border-color: red;
  height: 90%;
  margin-top: -15px;
  right: 0;
}
