* {
  box-sizing: border-box;
  margin: 0;
}

div {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  border: solid 3px #fca200;
  border-radius: 50%;
  border-right-color: transparent;
  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
div::after,
div::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  border-style: solid;
  border-width:  3px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  
}
div::after {
  width: 34px;
  height: 34px;
  border-color: #2591ea;
  border-top-color: transparent;
}
div::before {
  width: 24px;
  height: 24px;
  border-color:  #e81b60;
  border-bottom-color: transparent;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
}
div:hover {
  animation-play-state: paused;
}
