* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.parent {
  width: 600px;
  height: 300px;
  margin: 20px auto;
  background-color: #eee;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #607d8b;
  width: calc(94% / 3);
  padding: 10px;
  
}
.one {
  order: 6;
  align-self: flex-end;
}
.two {
  order: 5;
  align-self: stretch;
}
.three {
  order: 2;
  align-self: flex-start;
}
.four {
  order: 3;
  align-self: stretch;

}
.five {
  order: 4;
  align-self: stretch;

}
.six {
  order: 0;
  align-self: stretch;

}
