div {
  text-align-last: center;
}
.one {
  font-family: "open-sans", sans-serif;
  font-weight: 300px;
  font-style: italic;
}

.Two {
  font-family: "cairo";
  font-weight: 700px;
}

.three {
  font-family: "Jomhuria";
  font-weight: 400px;
}
