* {
  box-sizing: border-box;
}
div {
  width: 150px;
  height: 100px;
  color: white;
  margin: 50px auto;
  font-size: 30px;
  font-weight: bold;
  background-color: #ff5722;
  display: flex;
  justify-content: center;
  align-items: center;
}
