* {
  box-sizing: border-box;
  margin: 0;
}
.parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.parent div {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  background-color: #eee;
  color: #000;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
  line-height: 1.6;
  margin: 10px;
}

/* Mobile   */
@media (max-width: 767px) {
  span {
    font-weight: bold;
    font-size: 20px;
  }
}

/* Medium Screen*/
@media (min-width: 768px) and (max-width: 1198px) {
  div:nth-child(2),
  div:nth-child(3),
  div:nth-child(4) {
    width: 75%;
    flex: 1 0 0;
  }
  span {
    font-weight: bold;
    color: red;
    font-size: 20px;
  }
}

/* Large Screens*/
@media (min-width: 1199px) {
  div:nth-child(2),
  div:nth-child(3) {
    width: 50%;
    flex: 1 0 0;
  }
  span {
    font-weight: bold;
    color: #6bbdb6;
    font-size: 20px;
  }
}
