div {
  width: 400px;
  height: 300px;
  background-color: #eee;
  margin: 20px auto;
  position: relative;
  padding: 10px;

}
div:before {
  content: '';
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: red;
  background-image:linear-gradient( to right , #2980b9 ,#27ae60) ;

}