.parent {
  font-family: Arial, Helvetica, sans-serif;
  /* padding: 2px; */
  width: 400px;
  border: 2px solid rgb(224, 210, 210);
  list-style-type: none;
  padding: 0px;
}
/* ol {
  padding: 5px;
} */
ul {
  padding: 0px;
  text-indent: 2px;
}
.child-1 {
  background-color: rgb(240, 240, 240);
  margin: 10px;
  padding: 10px;
}
.child-2 {
  background-color: rgb(240, 240, 240);
  margin: 10px;
  padding: 10px;
}

.child-2 li {
  list-style-type: upper-roman;
}
.child-3 {
  background-color: rgb(240, 240, 240);
  margin: 10px;
  padding: 10px;
  list-style-position: inside;
}
li {
  background-color: white;
  margin: 5px;
  padding: 0px;
  text-indent: 11px;
}
