* {
  box-sizing: border-box;
  font-size: 30px;
  font-weight: bold;
  margin: 50px auto;
}
div,
div::before {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
div {
  width: 200px;
  height: 200px;
  background-color: #ddd;
  text-align: center;
  line-height: 180px;
  border-width: 10px;
  border-style: solid;
  border-color: #e91e63 #e91e63 #e91e63 white;
  position: relative;
}

div::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-width: 10px;
  border-style: solid;
  border-color: #0aa5f0 white #0aa5f0 #0aa5f0;
  top: -20px;
  left: -20px;
}
