* {
  box-sizing: border-box;
}
.grid {
  background-color: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px;
  margin: 20px auto;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: larger;
  display: grid;
  grid-template-columns: auto repeat(2, 1fr) auto;
  grid-template-rows: 1fr auto;
  gap: 20px 20px;
}

div {
  background-color: #403f3f;
}
div .EL1,
.EL2,
.EL3,
.EL4,
.EL5,
.EL6,
.EL7,
.EL8 {
  display: grid;
  justify-content: center;
  align-items: center;
}
